<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Cook uses your camera to take a selfie for your AI chef avatar.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cook accesses your photo library so you can choose a photo for your AI chef avatar.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cook</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.Emile.Cook</string>
		</dict>
	</array>
</dict>
</plist>
